---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

SortIncludes: false
IncludeBlocks: Preserve

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: true
  AfterStruct: false
  AfterUnion: false
  BeforeElse: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false

AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
Cpp11BracedListStyle: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
InsertNewlineAtEOF: true
